altgraph==0.17.2
astroid==2.9.3
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
future==0.18.2
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
pefile==2021.9.3
platformdirs==2.4.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
pylint==2.12.2
pywin32-ctypes==0.2.0
requests==2.27.1
toml==0.10.2
urllib3==1.26.8
wrapt==1.13.3
